<div class="nav">
  <h1 class="tit">Welcome to {{title}}</h1>
  <!-- <h3 class="sub">{{ msg }}</h3> -->
  <p class="sal" (click)="onClick()" >{{api.getSaluto()}}</p>
</div>

<div class="container">
  <div class="data" *ngFor="let res of $ps">
    <p><b>Codice:</b> {{res.codice}}</p>
    <p><b>Ospedale:</b> {{res.ospedale}}</p>
    <p><b>Localita:</b> {{res.localita}}</p>
    <p *ngIf="res.unita_operativa != null"><b>Unità operativa:</b> {{res.unita_operativa}}</p>
    <!-- <p>Attesa: {{res.attesa.bianco}}</p> -->
    

    <table class="tg">
      <thead>
        <tr>
          <th class="tg-wa1i">+</th>
          <th class="tg-fymr bianco">Bianco</th>
          <th class="tg-1wig verde">Verde</th>
          <th class="tg-1wig azzurro">Azzurro</th>
          <th class="tg-1wig giallo">Giallo</th>
          <th class="tg-1wig arancio">Arancio</th>
          <th class="tg-1wig rosso">Rosso</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-wa1i">Attesa</td>
          <td class="tg-5frq">{{res.attesa.bianco}}</td>
          <td class="tg-5frq">{{res.attesa.verde}}</td>
          <td class="tg-5frq">{{res.attesa.azzurro}}</td>
          <td class="tg-5frq">{{res.attesa.giallo}}</td>
          <td class="tg-5frq">{{res.attesa.arancio}}</td>
          <td class="tg-5frq">{{res.attesa.rosso}}</td>
        </tr>
        <tr>
          <td class="tg-wa1i">Osservazione</td>
          <td class="tg-5frq">{{res.osservazione.bianco}}</td>
          <td class="tg-5frq">{{res.osservazione.verde}}</td>
          <td class="tg-5frq">{{res.osservazione.azzurro}}</td>
          <td class="tg-5frq">{{res.osservazione.giallo}}</td>
          <td class="tg-5frq">{{res.osservazione.arancio}}</td>
          <td class="tg-5frq">{{res.osservazione.rosso}}</td>
        </tr>
        <tr>
          <td class="tg-wa1i">Ambulatorio</td>
          <td class="tg-5frq">{{res.ambulatorio.bianco}}</td>
          <td class="tg-5frq">{{res.ambulatorio.verde}}</td>
          <td class="tg-5frq">{{res.ambulatorio.azzurro}}</td>
          <td class="tg-5frq">{{res.ambulatorio.giallo}}</td>
          <td class="tg-5frq">{{res.ambulatorio.arancio}}</td>
          <td class="tg-5frq">{{res.ambulatorio.rosso}}</td>
        </tr>
        <!-- - FIXME: Sistemare "attesa-media" -> Il trattino da problemi.
          <tr> 
          <td class="tg-wa1i">Attesa media</td>
          <td class="tg-5frq">{{res.attesa_media.bianco}}</td>
          <td class="tg-5frq">{{res.attesa_media.verde}}</td>
          <td class="tg-5frq">{{res.attesa_media.azzurro}}</td>
          <td class="tg-5frq">{{res.attesa_media.giallo}}</td>
          <td class="tg-5frq">{{res.attesa_media.arancio}}</td>
          <td class="tg-5frq">{{res.attesa_media.rosso}}</td>
        </tr> -->
      </tbody>
      </table>

      <p *ngIf="res.messaggio != null"><b>Note:</b> {{res.messaggio}}</p>
      <p *ngIf="see">Ultimo aggiornamento dati: {{timeStamp}}</p>
    <!-- <hr> -->
  
  </div>
</div>